*{
    margin: 0;
    padding: 0;
    font-family:'Varela Round', arial;
}

body{
    background-color:#0000CD;
}

header{
    padding-top: 15px;
}

.container{
    display: flex;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
nav ul{
    display:flex;
    flex: row;
}
nav ul li{
    padding:22px;
    list-style:none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
nav ul li:hover{
    cursor: pointer;
}

/*  */

.content{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}
.product, .product-text{
    flex: 1;
}
.product-text h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
}
.product-text p{
    font-size: 20px;
    color: #fff;
    word-spacing: 2px;
    line-height: 30px;
}

/*  */

.buttons{
    display: block;
    margin-top: 30px;
}
.buttons input{
    padding: 15px;
    width: 200px;
    margin-right: 10px;
    border-radius: 20px;
    border:1px solid #fff;
    font-size: 18px;
    color: #fff;
    background-color:#0000CD;
}
.buttons input:hover{
    cursor: pointer;
}